@value tmBlue: #00546d;
@value tmLightGreen: #b1c88a;
@value tmDarkGreen: #6e8878;
@value tmGrey: #807f83;

.bold {
	font-weight: bold;
}


.outer{
	border:  0px;
}

.outer > div:first-of-type {
	border: 2px solid;
	border-color: tmBlue !important;
	border-radius: 5px;
	box-shadow: none !important;
}

.section{
	color: #333 !important;
	font-size: 14px;
}

.shield :global(.Select-input) {
	margin-top: 15.5px;
	margin-bottom: 24.5px;
	margin-left: 47.5px;
}

.shield :global(.Select-value) {
	display: flex;
	align-items: center;
}


:global(.Select-menu-outer) .variable{
	padding-left: 30px;
}
:global(.Select-menu) {
	max-height: 398px;
	border: none;
}
:global(.Select-menu-outer) {
	border: none;
	margin-top: 0px;
	max-height: 400px;
	box-shadow: 0px 9px 28px 2px rgba(0,0,0,0.75);
}



:global(.Select-menu) .bold{
	border-bottom: 1px solid tmBlue;
}

@value arrowSize: 8px;

:global(.Select-arrow) {
	border-width: arrowSize;
	border-style: solid;
	border-color: transparent;
	border-top-color: tmBlue;
	height: arrowSize;
	width:  arrowSize;
	top: 4px
}

:global(.Select-arrow-zone):hover :global(.Select-arrow) {
	border-top-color: tmBlue;
}
:global(.Select-arrow-zone) {
}


:global(.is-open) > :global(.Select-control) :global(.Select-arrow) {
	border-width: arrowSize;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: tmBlue;
	width: arrowSize;
	height: arrowSize;
	top: -4px;
}

:global(.Select-option) {
	color: #333;
}
:global(.Select-option.is-focused) {
	background: none;
}
:global(.Select-option.is-selected) {
	background: none;
}
:global(.Select-option):hover {
	background: #DCEDC8;
}
:global(.Select-option.is-disabled) {
	font-style: italic;
	color: #777;
}
:global(.Select-option.is-disabled):hover {
	background: none;
}


.title{
	display: flex;
	align-items: center;
}



