.header {
	background-color: whitesmoke;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0px -15px;

}

.row {
	display: flex;
	justify-content: center;
}

.wrapper {
	position: fixed;
	top: 0;
	z-index: 5;
	left: 0;
	width: 100%;
}

