.static {
	stroke: grey;
	stroke-width: 0.4px;
	fill: grey;
	transition: 1s;
}
	
.active {
	composes: static;
}

.active:hover {
	stroke: black;
	stroke-width: 1px;
	fill-opacity: 0.5
}

.map{
	padding: 20px;
}






