@value fontColor gray;


.option{
	display: inline-block;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 5px 5px 5px 5px;
	margin: 0px;
	cursor: pointer;

}

.select {
	border: none;
	overflow: hidden;
	background: none;
}

.option:checked {
	color: red;
	background-color: blue;
	background: #008CBA linear-gradient(0deg, #008CBA 0%, #008CBA 100%);
}


.select:focus {
	outline: none;
}

.container {
	display: flex;
	justify-content: center;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}


