
.container {
	composes: buttonContainer from "../theme.css";
	display: flex;
	justify-content: center;
}



.button {
	composes: button from "../theme.css";
	border: none;
	margin: -1px;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-grow: 1;
}

.button:focus {
	outline: none;
}

.buttonChecked {
	composes: button;
	composes: buttonChecked from "../theme.css";

	outline: none;
}

.dropbtn {
	composes: buttonChecked;
	min-width: 100px;
}

.dropdownContent {
	composes: container;
	display: none;
	flex-direction: column;
	margin: 0px;
	z-index: 2;
	position: absolute;
				://www.w3schools.com/howto/howto_css_fixed_menu.asp /div>
}

.dropdown {
	position: relative;
	margin: 10px;

}

.show {
	composes: dropdownContent;
	display: flex;
}

