
@value transit: all 700ms ease;

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: transit;
}


.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: transit;
}

.leave {
  opacity: 1;

}

.leaveActive {
    opacity: 0.01;
    transition: transit;

}

